<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.findbest.vip">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">



        <activity android:name=".login.view.GuideView"
            android:theme="@style/AppTheme.NoActionBar"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--首页-->
        <activity android:name=".commonactivity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>


        <!--登录页-->

        <activity android:name=".login.view.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 忘记密码 -->
        <activity android:name=".login.view.ResetPassword"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 注册页 -->
        <activity android:name=".register.view.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 注册-选择国家页 -->
        <activity android:name=".register.view.RegisterCountry"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 注册-选择角色页 -->
        <activity android:name=".register.view.RegisterIdentity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 注册-选择邮箱页 -->
        <activity android:name=".register.view.RegisterEmail"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 注册-选择昵称页 -->
        <activity android:name=".register.view.RegisterNickName"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <!-- 注册-选择昵称页 -->
        <activity android:name=".instance.activity.InvitationActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 搜索页面 -->
        <activity android:name=".project.view.MainSearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity android:name=".instance.activity.InstanceSearchActivity"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <!-- 项目-项目需求和画师应聘页 -->
        <activity android:name=".project.view.ProjectInformation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 项目-应征项目 -->
        <activity android:name=".project.view.EnlistProject"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 项目-选择项目图片 -->
        <activity android:name=".project.view.RecentProject"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 画师-搜索 -->
        <activity android:name=".painter.view.PainterSearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 画师-画师详情 -->
        <activity android:name=".painter.view.PainterInfomation"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        
        <!--意见反馈页面-->
        <activity android:name="app.findbest.vip.individual.view.Feedback"
            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--使用帮助页面-->
        <activity android:name="app.findbest.vip.individual.view.Help"
            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--关于我们页面-->
        <activity android:name="app.findbest.vip.individual.view.Us"
            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--修改头像页面-->
        <activity android:name="app.findbest.vip.individual.view.Head"
            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity android:name=".instance.activity.InstanceActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="imui.jiguang.cn.imuisample.messages.MessageListActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>




    </application>

</manifest>